{% extends "admin/change_form.html" %}

{% block extrahead %}{{ block.super }}
<style type="text/css">
    .colMS { 
        width: 250px;
        float: left;
        margin-right: 1em !important;
    }
    div.form-row.published_on p.datetime {
        margin-left: 0px;
        padding-left: 0px;
    }
    div.form-row.published_on > div > label { 
        float: none;
    }
    #id_content { height: 300px; width: 680px; }
</style>
{% endblock %}

{% block object-tools %}
  <ul class="object-tools"><li><a href="history/" class="historylink">History</a></li>
  {% if has_absolute_url %}<li><a href="{{ original.get_absolute_url }}" class="viewsitelink" target="blank">View on site</a></li>{% endif %}
  </ul>
{% endblock %}
