{% extends "base.html" %}
{% load highlight %}
{% block content %}
    {% if page.object_list %}
        {% for obj in page.object_list %}
            {% with obj.object as entry %}
                <h2><a href="{{ entry.get_absolute_url }}">{% highlight entry.title with query %}</a></h2>
                {% include "tekblog/entry_snippet.html" %}
            {% endwith %}
        {% endfor %}
        <br class="clear" />
        {% include "tekblog/pager_snippet.html" %}
    {% else %}
        No entries found
    {% endif %} 
{% endblock %}
